# Gemini API Key (Official API - Optional)
GEMINI_API_KEY=your_gemini_api_key_here

# Gemini Cookies (Web API - Required)
SECURE_1PSID=1PSID: g.a000-wiOPWlAqmGFJa5PEbfvkqbFO_bUn5cxgsbnfn-d3aQIwhrFyoDZSa_2XvrFhFkfyB8CnwACgYKAaESARMSFQHGX2Mi9a6adoQf85lVuQQFizTichoVAUF8yKq3yw2rUVQLHk1QNYj6uyeP0076
SECURE_1PSIDTS=CjcBhkeRd5zJxNESfiAtzV31u1cd5fhDl7L0jLPzqm-S0qw-ThFSF5Z1krysSz3CCaMRLvAKKXjgEAA

# Proxy (Optional)
PROXY=http://127.0.0.1:10808

# Server Configuration
HOST=0.0.0.0
PORT=3897
